langchain==0.3.25
langchain-anthropic==0.3.14
langchain-community==0.3.24
langchain-core==0.3.62
langchain-openai==0.3.18
langchain-tavily==0.2.0 
langchain-text-splitters==0.3.8 
langgraph==0.4.7 
langgraph-checkpoint==2.0.26
langgraph-prebuilt==0.2.1 
langgraph-sdk==0.1.70
langsmith==0.3.42
anthropic==0.52.0 
elevenlabs==2.1.0
fastapi==0.115.12 
openai==1.82.0
uvicorn==0.34.3
semanticscholar==0.10.0
xmltodict==0.14.2